@{
    ViewData["Title"] = "Home Page";
}

<partial name="_AlertMessage" />

<div class="text-center">
    <h1 class="display-4">Xin chào</h1>
    <p>Tham khảo thêm <a href="https://nzt.vn"> Bấm vào đây</a>.</p>
</div>

